body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: $font-family;
    // background-color: #181817;
    background-color: #fff;
    color: #fafafa;
}

h1, h2 {
    font-family: $latobold;
}

thead {
    background: #25a2b8;
    >tr {
        >th {
            border: none !important;
            text-align: center !important;
        }
    }
}

.loader {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
    img {
        width: 150px;
    }
}

.custom-navbar {
    justify-content: space-between;
    margin: 0 0 10px;
}

.modal-header {
    justify-content: flex-end;
    color: black;
    >span {
        cursor: pointer;
    }
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    >h2 {
        color: #25a2b8;
    }
}

.tabel-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 150px;
    >span {
        background-color: #25a2b8;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        padding: 10px;
    }
}

.gen-new {
    background-color: #25a2b8;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 15px 30px;
}